.Box {
    width: 100%;
    height: 200px;
    color: #fdfdfd;
}

@media(min-width: 800px) {
    .Box {
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 1200px) {
    .Box {
        width: 223px;
        height: 223px;
    }
}