.Boxes-title {
    background-color: rgb(66, 59, 59); 
}

.Boxes-title h1 {
    text-align: center;
    font-size: 2.3em;
    color:#fff;
    margin: 0;
    padding: 1.5em;
}

@media(min-width: 800px) {
    .Boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .Boxes-title {
        background-color: #fff;
    }
    .Boxes-title h1 {
        font-size: 1.5em;
        margin-top: 1em;
        color: #555; 
    
    }
}